<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>536659997604-f2rua4gpqa6jlh4kiqc7co6onahrq09n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536659997604-f2rua4gpqa6jlh4kiqc7co6onahrq09n</string>
	<key>API_KEY</key>
	<string>AIzaSyDF_fPIOezF2YoDI5lDBcGd1f-DUQOpiBE</string>
	<key>GCM_SENDER_ID</key>
	<string>536659997604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Vladislav-Barinov.FBase</string>
	<key>PROJECT_ID</key>
	<string>fbase-eee16</string>
	<key>STORAGE_BUCKET</key>
	<string>fbase-eee16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536659997604:ios:6101cef72bdefbf4554731</string>
	<key>DATABASE_URL</key>
	<string>https://fbase-eee16.firebaseio.com</string>
</dict>
</plist>